@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container_email {
    height: 600px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}


.container_user_details {
    height: 150vh !important;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}



.card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 420px;
    height: 520px;
    background-color: #ffffff;
    padding: 10px 30px;
}

.card_title {
    text-align: center;
    padding: 10px;
}

.card_title h1 {
        font-size: 26px;
        font-weight: bold;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

.form button {
    background-color: #4796ff;
    margin-left: 100px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    width: 40%;
}

.card_terms {
    display: flex;
    align-items: center;
    padding: 10px;
}

    .card_terms input[type="checkbox"] {
        background-color: #e2e2e2;
    }

    .card_terms span {
        margin: 5px;
        font-size: 13px;
    }

.card a {
    color: #4796ff;
    text-decoration: none;
}

.card_user_input {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 420px;
    height: 750px;
    background-color: #ffffff;
    padding: 10px 30px;
}


.card_user_index {
    margin-top: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 700px;
    height: 1065px !important;
    background-color: #ffffff;
    padding: 10px 30px;
}


.card_title_button {
   margin-left:140px !important;
}

.card_email {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 240px;
    background-color: #ffffff;
    padding: 10px 30px;
}





