@model Management.Common.Models.ForgotPasswordDto;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_accountLayout";
}

<link href="~/css/signup.css" rel="stylesheet" />

<div class="container">
    <div class="card_email">
        <div class="card_title">
            Please Enter employee Email
        </div>
        <div class="form">
            <form asp-action="CreatePassword" asp-controller="Account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for=Email></label>
                    <input asp-for="Email" type="text" name="Email" id="Email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                 <button type="submit">Set Password</button>
            </form>
        </div>

    </div>
</div>