@model Management.Common.Models.ForgotPasswordDto;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_accountLayout";
}
@* <h1>ForgotPassword</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@



<link href="~/css/signup.css" rel="stylesheet" />

<div class="container_email">
    <div class="card_email">
        <div class="card_title">
            Please Enter your Email
        </div>
        <div class="form">
            <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for=Email></label>
                    <input asp-for="Email" type="text" name="Email" id="Email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit">Send Email</button>
            </form>
        </div>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}