@model Management.Common.Models.SetPasswordDto;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_accountLayout";
}


<link href="~/css/newlogin.css" rel="stylesheet" />

@* <h1>Create Password</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SetPassword">
             <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 *@





<div class="login-container">
    <form class="login-form" asp-action="SetPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <p>Create Password</p>
        <div class="input-group">
            <input asp-for="Password" placeholder="Password" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="input-group">
            <input asp-for="ConfirmPassword" type="Password" id="ConfirmPassword" name="ConfirmPassword" placeholder="ConfirmPassword" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Email" class="form-control" />
        <input type="hidden" asp-for="Token" class="form-control" />
        <button type="submit"> Create </button>
        <div class="bottom-text">
            @*  <p>Don't have an account? <a asp-action="Signup">Sign Up</a></p> *@
          @*   <p><a href="/Account/ForgotPassword">Forgot password?</a></p> *@
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}