@model Management.Common.Models.SignUpDto;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_accountLayout";
}

@* <div class="container">
    <h1>Signup</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Signup">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Signup" class="btn btn-primary mt-2" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Login">Already have an Account</a>
    </div>
</div> *@

<link href="~/css/signup.css" rel="stylesheet" />

<div class="container">
    <div class="card">
        <div class="card_title">
            <h1>Create Account</h1>
            <span>Already have an account? <a asp-action="Login">LogIn</a></span>
        </div>
        <div class="form">
            <form asp-action="Signup" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <input asp-for="UserName" type="text" name="username" id="username" placeholder="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>

                <input asp-for="Email" type="email" name="email" placeholder="Email" id="email" />
                <span asp-validation-for="Email" class="text-danger"></span>

                <input asp-for="Password" type="password" name="password" placeholder="Password" id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" placeholder="ConfirmPassword" id="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <input asp-for="PhoneNumber" type="number" name="PhoneNumber" id="PhoneNumber" placeholder="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                <button type="submit">Sign Up</button>
            </form>
        </div>

    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
